.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background: url(../images/footer.jpg) no-repeat center / cover;
  height: 206px;
  margin-bottom: 500px;

  @include on-desktop {
    height: 466px;
    align-items: flex-start;
    padding: 35px 0;
  }
}
