.header {
  &__front {
    background: url(../images/header_banner.jpg) no-repeat center / cover;
  }

  &__back {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    transform: translateX(-100%);
    background-color: $c-backMenu;
    overflow-y: auto;
    @include transition;

    &:target {
      transform: translateX(0);
    }
  }

  &__content {
    @include content-size;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 25px 0 80px;

    &--back {
      justify-content: start;
    }
  }

  &__title::before {
    content: "";
    display: block;
    background-image: url(../images/sound_mob.svg);
    margin-bottom: 15px;
    width: 32px;
    height: 27px;

    @include on-desktop {
      background-image: url(../images/sound.svg);
      width: 63px;
      height: 76px;
      margin-bottom: 30px;
    }
  }
}
